body{
    background-color: rgb(132, 132, 132);
    margin: 0px;
    color:white;
}
header{
    text-align: center;
}
.main-container{
    display:grid;
    grid-template-columns: 20vw 25vw 20vw;
    height:90vmin;
    justify-content: center;
}
.control-panel-flex-container{
    font-size: .81vw;
    display:flex;
    flex-direction: column;
    gap:1.1vw;
    margin-top: 3vw;
    height:40vw;
    width: 20vw;
    align-items: center;
    border: solid  rgb(96, 151, 253) .1vw;
}
.instructions-steps, #game-info,#turn-display,#info-display{
    font-weight: bold;
}
#start-button,#reset-button,#rotate-button{
    font-size: .8vw;
    border:solid  rgb(96, 151, 253) .1vw;
}
#rotate-button{
    margin-top: .3vw;
}
.table-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
}
.computer-table,.player-table{
    background-color: rgb(96, 151, 253);
}
.ship-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}
#player-ship, #computer-ship{
    display:flex;
    height:14vw;
    width:20vw;
    justify-content: center;
    align-items: center;
    gap:.3vw;
    flex-wrap: wrap;
    border: solid  rgb(96, 151, 253) .1vw;
}
.ship-header{
    margin-top: 3.4vw;
    font-size: 1vw;
}
th{
    border:solid white 1px;
    text-transform: uppercase;
    height:1.7vw;
    width:1.7vw;
}
button{
    cursor: pointer;
}
td{
    border:solid white 1px;
}
#submarine,#cruiser,#battleship,#carrier{
    color:white;
    font-size: .8vw;
    text-align: center;
    height: 1.3vw;
    border: solid black .1vw;
}
#submarine,#cruiser{
    background-color: blue;
    width: 4.4vw;
}
#battleship{
    background-color: purple;
    width:5.4vw;
}
#carrier{
    background-color: green;
    width:6.5vw;
}
.submarine,.cruiser{
    background-color: blue;
}
.battleship{
    background-color: purple;
}
.carrier{
    background-color: green;
}
#player-ship > div{
    cursor: pointer;
}
.invisible{
    background-color: rgb(96, 151, 253);
}
.hit{
    background-color: red;
}
.miss{
    background-color: white;
}
